<!--–– MAIN VIEW ---->
<html>
    <head>
      <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <style>

            html {
                font-family:sans-serif;
            }

            .weekCard{
                text-align: center;
                border-radius: 4px;
            }

            .weekday{
                width: 120px;
                height: 50px;
                float: left;
                font-weight: 700;
                vertical-align: middle;
                line-height: 50px;
            }

            .title{
                width: 580px;
                height: 50px;
                float: center;
                font-weight: 700;
                vertical-align: middle;
                line-height: 50px;
                font-size: 36px;
            }

            #card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border: 0;
                border-radius: 4px;
            }

            a {
              text-decoration: none;
              color: white;
            }
        </style>

    </head>
    <body>
        <div id="card" style="padding: 20 30 30 30; margin: 20px auto; max-width: 840px;background-color: white; ">
            <div style="display: inline-block;width:840px; height:50px; line-height: 50px;">
                <div style="float: left;" class="title">
                    KCOU Schedule Manager
                </div>
                <button id="card" style="width:120px; height:50px;font-weight: 700;font-size: 18px; color: white; border: 0; background-color: #40c4ff; border-radius: 4px; float: left;">
                    <a class="adding" href="<%= editLink %>"> Edit  </a>
                </button>
                <div style="width: 20px; height: 20px; float: left"></div>
                <button id="card" onclick="rem(<%= id %>)" style="width:120px; height:50px;font-weight: 700;font-size: 18px; color: white; background-color: #ff1844; border-radius: 4px; float: left;">
                    Delete
                </button>
            </div>
            <div style="width: 840px; height: 20px; border-bottom: 1px solid lightgrey;"></div>
            <div style="width: 840px; height: 20px;"></div>

            <div class="title">
              <%= title %>
            </div>
            <br>
            <div  style="font-size: 24px;">
              <% hosts.forEach(function(host) {%>
                <li>  <%= host.first_name %>  <%= host.last_name %>  ---- DJ Name: <%= host.dj_name %></li>
              <% }); %>
            </div>
            <br>
            <div  style="font-size: 20px;">
                <%= weekday %>,  <%= start_time %> - <%= end_time %>
            </div>

            <div style="width: 840px; height: 20px; border-bottom: 1px solid lightgrey;"></div>
            <div style="width: 840px; height: 20px;"></div>

            <div  style="font-size: 20px;">
                <%= description %>
            </div>
        </div>
        <script>
          function rem(x) {
            console.log(x);
            url = "/removeShow/" + x;
            $.post(url, function(data){
              console.log(data);
              window.location = "/";
            });
          }
        </script>
    </body>



</html>
